<!doctype html>
<html>
<head>
    <title>Go Gadget</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-success">
        <h1><span class="fa"></span> Go Gadget!</h1>
        <img src="/images/gopher.jpeg" height=350 width=250 alt="app logo">
        <p class="text-info m-5">A POC of the GO web service that uses Google Authentication</p>
        <a href="/auth/google" class="btn btn-info"><span class="fa fa-google"></span> Sign In with Google</a>       
    </div>    
</div>
</body>
</html> 